# Dependencies
**/node_modules

# Next.js build output
**/.next

# Express build output
**/dist

# Firebase build output
out
*.log
**/*.cache

# Environment Variables
.env.local
.env.production
service-account-credentials*.json
*creds.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
